## .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp
*.sln.docstates

## Secrets / env
appsettings.*.json
!appsettings.Development.json
*.pfx
*.pem
*.key
secrets/

## Docker
.dockerignore

## OS
.DS_Store
Thumbs.db
desktop.ini
